/* Styles for article view */
.rating .rating-item{
  color: #f5d608;
}
.rating .rating-item:hover,
.rating .rating-item:focus,
.rating .rating-item:active{
  color: #f5d608;
}
.rating-item > span{
  color: #f5d608;
}
/* End styles for article view */